---
// Component Imports
import HeroWithForm from "~/components/HeroWithForm.astro";
import PageLayout from "~/layouts/PageLayout.astro";

const content = {
  title: "Contact Us",
  description: "Contact Us",
};
---

<PageLayout content={content}>
  <div class="px-5">
    <HeroWithForm
      title="Contact Us"
      text="Have a question or comment? Drop us a message. You can email, call, or fill out the form here. Don't forget to follow us on social media too!"
    />
  </div>
</PageLayout>
