---
// Component Imports
import PricingSection from "~/components/PricingSection.astro";
import PageLayout from "../layouts/PageLayout.astro";

const content = {
  title: "Pricing",
  description: "Pricing",
};

const pricingPlans = [
  {
    title: "Basic",
    subtitle: "Best for personal use",
    price: "$25",
    period: "per month",
    features: ["Basic Usage", "Basic Usage", "Basic Usage", "Basic Usage"],
    buttonText: "Buy Now",
  },
  {
    title: "Pro",
    subtitle: "Best for professional use",
    price: "$50",
    period: "per month",
    features: ["Pro Usage", "Pro Usage", "Pro Usage", "Pro Usage"],
    buttonText: "Buy Now",
  },
  {
    title: "Enterprise",
    subtitle: "Best for large business use",
    price: "$100",
    period: "per month",
    features: [
      "Enterprise Usage",
      "Enterprise Usage",
      "Enterprise Usage",
      "Enterprise Usage",
    ],
    buttonText: "Buy Now",
  },
];
---

<PageLayout content={content}>
  <div class="px-5 md:px-12 lg:px-12">
    <PricingSection plans={pricingPlans} />
  </div>
</PageLayout>
