---
import { Icon } from "astro-icon/components";
---

<footer
  class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4"
>
  <aside class="grid-flow-col items-center">
    <Icon name="daisyShip" size={32} />
    <p>
      Daisy Ship
      <br />
      The best Astro + Tailwind template
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4 text-2xl">
      <a href="https://x.com/usb_type_d" aria-label="Find us on X.com">
        <Icon name="tabler:brand-x" />
      </a>
      <a href="https://github.com/JBowen99" aria-label="Find us on Github.com">
        <Icon name="tabler:brand-github" />
      </a>
    </div>
  </nav>
</footer>
