---
import { Icon } from "astro-icon/components";

//TODO replace h2 with a with link
---

<footer class="footer bg-base-200 text-base-content p-10">
  <nav>
    <h1 class="footer-title">Services</h1>
    <h2 class="link link-hover">Branding</h2>
    <h2 class="link link-hover">Design</h2>
    <h2 class="link link-hover">Marketing</h2>
    <h2 class="link link-hover">Advertisement</h2>
  </nav>
  <nav>
    <h1 class="footer-title">Company</h1>
    <h2 class="link link-hover">About us</h2>
    <h2 class="link link-hover">Contact</h2>
    <h2 class="link link-hover">Jobs</h2>
    <h2 class="link link-hover">Press kit</h2>
  </nav>
  <nav>
    <h1 class="footer-title">Legal</h1>
    <h2 class="link link-hover">Terms of use</h2>
    <h2 class="link link-hover">Privacy policy</h2>
    <h2 class="link link-hover">Cookie policy</h2>
  </nav>
</footer>
<footer
  class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4"
>
  <aside class="grid-flow-col items-center">
    <Icon name="daisyShip" size={32} />
    <p>
      Daisy Ship
      <br />
      The best Astro + Tailwind template
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4 text-2xl">
      <a href="https://x.com" aria-label="Find us on X.com">
        <Icon name="tabler:brand-x" />
      </a>
      <a href="https://instagram.com" aria-label="Find us on Instagram.com">
        <Icon name="tabler:brand-instagram" />
      </a>
      <a href="https://facebook.com" aria-label="Find us on Facebook.com">
        <Icon name="tabler:brand-facebook" />
      </a>
    </div>
  </nav>
</footer>
