---
import Form from "./Form.astro";

interface FormField {
  label: string;
  type:
    | "text"
    | "email"
    | "password"
    | "number"
    | "textarea"
    | "checkbox"
    | "radio"
    | "select";
  name: string;
  placeholder?: string;
  options?: string[]; // For select and radio fields
}

const formFields: FormField[] = [
  { label: "Name", type: "text", name: "name", placeholder: "Enter your name" },
  {
    label: "Email",
    type: "email",
    name: "email",
    placeholder: "Enter your email",
  },
  {
    label: "Message",
    type: "textarea",
    name: "message",
    placeholder: "Enter your message",
  },
];

interface Props {
  title?: string;
  text?: string;
  subtitle?: string;
}

const { title, text, subtitle } = Astro.props as Props;
---

<div class="hero bg-base-500 py-20">
  <div class="hero-content flex flex-col">
    <div class="text-center">
      {title && <h1 class="text-title font-title">{title}</h1>}
      {subtitle && <h2 class="py-6 text-subtitle font-subtitle">{subtitle}</h2>}
      {text && <p class="py-6 text-text font-text">{text}</p>}
    </div>
  </div>
</div>
