---
import Form from "~/components/Form.astro";
import type { FormField } from "~/types";

const formFields: FormField[] = [
  { label: "Name", type: "text", name: "name", placeholder: "Enter your name" },
  {
    label: "Email",
    type: "email",
    name: "email",
    placeholder: "Enter your email",
  },
  {
    label: "Message",
    type: "textarea",
    name: "message",
    placeholder: "Enter your message",
  },
];

interface Props {
  title?: string;
  text?: string;
}

const { title, text } = Astro.props as Props;
---

<div class="hero bg-base-500 min-h-screen">
  <div class="hero-content grid grid-cols-1 md:grid-cols-2">
    <div class="text-center lg:text-left basis-1">
      {title && <h1 class="text-5xl font-bold">{title}</h1>}
      {text && <p class="py-6">{text}</p>}
    </div>
    <div class="card bg-base-100 w-full shadow-2xl basis-1">
      <Form
        fields={formFields}
        submitButtonText="Submit"
        title="Contact Us"
        infotext="We will get back to you within 24 hours"
      />
    </div>
  </div>
</div>
