---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const { content } = Astro.props;
---

<html lang="en" data-theme="retro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>

    <Navbar />
  </head>
  <body>
    <div class="flex flex-col justify-center items-center">
      <slot />
    </div>
  </body><Footer />
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
